.hidden {
  display: none !important;
}

.container,
.row-header {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.button {
  display: flex;
  justify-content: right;
}

img {
  width: 100%;
  height: 300px;
}

@media screen and (min-width: 768px) {
  .container,
  .row-header {
    max-width: 900px;
  }

  .column-full,
  .column-half,
  .column-header {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
