.hidden {
  display: none !important;
}

.container,
.row-header {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.column-header {
  display: flex;
  align-items: baseline;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.page-header {
  margin-top: 25px;
  margin-bottom: 25px;
}

.entries-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
}

.button.edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

ul {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .container,
  .row-header {
    max-width: 900px;
  }

  .column-full,
  .column-half,
  .column-header {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
