body {
  background-color: rgb(238, 238, 238);
  position: relative;
  width: 100%;
}

.container-header {
  background-color: rgb(81, 0, 139);
  padding-top: 15px;
  padding-bottom: 15px;
}

.container-header h2 {
  color: white;
  margin: 0;
  font-family: "Proza Libre", sans-serif;
  font-weight: 300;
}

.column-header a {
  color: white;
  font-size: 1.15rem;
  font-family: "Proza Libre", sans-serif;
  font-weight: 300;
  margin-left: 25px;
  text-decoration: none;
}

.container h1 {
  font-family: "Proza Libre", sans-serif;
  font-size: 28pt;
  margin: 0;
}

.img-column {
  padding-bottom: 20px;
}

label,
input {
  display: block;
  width: 100%;
}

textarea {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

label {
  padding-bottom: 7px;
  font-family: "Proza Libre", sans-serif;
  font-weight: 600;
}

img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
}

.column-half input {
  margin-bottom: 20px;
  border-radius: 2px;
  border: solid lightgray 1px;
  height: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.notes {
  height: 10rem;
  margin-bottom: 20px;
  border-radius: 3px;
  border: solid lightgray 1px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid rgb(81, 0, 139);
  border-radius: 3px;
}

.save-button,
.new-button {
  border: none;
  background-color: rgb(81, 0, 139);
  color: white;
  font-family: "Proza Libre", sans-serif;
  font-weight: 500;
  font-size: 14pt;
  padding: 9px 15px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.delete-entry-button button {
  color: red;
  font-family: "Proza Libre", sans-serif;
  font-size: 10pt;
  border: none;
  text-decoration: underline red;
  cursor: pointer;
}

/*             Entries Page             */

#journal-entry-list {
  padding-left: 0;
  padding-right: 0;
}

.journal-entry-item img {
  margin-bottom: 50px;
}

.journal-entry-item h2 {
  margin-top: 0;
  font-family: "Proza Libre", sans-serif;
  font-weight: 600;
}

.journal-entry-item p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14pt;
  line-height: 150%;
  margin-bottom: 40px;
}

.journal-entry-item i {
  color: rgb(81, 0, 139);
  font-size: 24px;
  height: 24px;
}

.journal-entry-item i:hover {
  color: rgb(57, 0, 97);
}

.journal-entry-item a {
  height: 24px;
}

.entry-heading {
  display: flex;
  justify-content: space-between;
}

/*             Delete Entry Pop Up             */

.container .overlay.on {
  background-color: rgb(0 0 0 / 60%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container .overlay.off {
  display: none;
}

.delete-entry-pop-up-wrapper.off {
  display: none;
}

.delete-entry-pop-up-wrapper.on {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.delete-entry-pop-up {
  width: 400px;
  height: 175px;
  background-color: rgb(238, 238, 238);
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.pop-up-header {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: "Proza Libre", sans-serif;
  font-weight: 500;
  font-size: 11pt;
}

.pop-up-header h3 {
  margin-bottom: 0;
}

.pop-up-buttons {
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px;
}

.cancel-button,
.confirm-delete-button {
  border: none;
  font-family: "Proza Libre", sans-serif;
  font-weight: 500;
  font-size: 14pt;
  padding: 9px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button {
  background-color: rgb(170, 170, 170);
  color: black;
}

.confirm-delete-button {
  background-color: red;
  color: white;
}
